
.customer-details-container {
  display: flex;
  /* //background-color: #f9f9f9; */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(135, 215, 233, 0.1);
  margin: 20px auto;
  max-width: 900px;
  padding: 20px;
  background-color: #66c7f0;
}


.customer-image-container {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.customer-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}


.customer-details {
  flex: 0 0 60%;
  padding: 20px;
  background-color: #ffffff;
}

.customer-details h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333333;
  text-align: center;
}


.customer-details p {
  margin: 10px 0;
  font-size: 16px;
  color: #666666;
}


.customer-details p strong {
  color: #333333;

}
.customer-details input{
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  border: 1px solid bisque;
  border-radius: 5px;
  width: 100%;
}



.edit-button, .update-button ,.download-pdf-button ,.update-password-button ,.cancel-button,.download-excel-button{
  margin-top :20px;
  padding: 8px 12px;
  font-size: 14px;
  background-color: rgb(53, 140, 190);
  color: white;
  border: none;
  
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;

}

.edit-button:hover , .update-button:hover,.download-pdf-button:hover ,.update-password-button:hover,.cancel-button:hover, .download-excel-button:hover{
  background-color: rgb(60, 61, 61);
  gap: 15px;
}

.download-pdf-button{
  margin-left: 15px;
}

.update-password-container {
  flex: 0 0 60%;
  padding: 20px;
  background-color: #ffffff;
  
 
}

.update-password-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333333;
  text-align: center;
  
}

.update-password-container .password-field {
  margin: 10px 0;
  font-size: 16px;
  color: #666666;
}

.update-password-container .password-field label {
  display: block;
  margin-bottom: 5px;
  color: #333333;
}

.update-password-container .password-field input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid bisque;
  border-radius: 5px;
  width: 100%;
}

/* Reuse button styles */
.update-password-container .update-button,
.update-password-container .cancel-button {
  margin-top: 20px;
  padding: 8px 12px;
  font-size: 14px;
  background-color: rgb(53, 140, 190);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

.update-password-container .update-button:hover,
.update-password-container .cancel-button:hover {
  background-color: rgb(60, 61, 61);
}
.button-container {
  display: flex;
  justify-content: flex-start; 
  gap: 15px; 
}

.update-password-container .cancel-button {
  margin-left: 15px; 
}
.customer-details .cancel-button{
  margin-left: 15px; 
}